__pycache__

Antigravity
Antigravity-*

argocd
argocd-v*

bazel-*

bun
bun-*

calibre
calibre-*

circleci-cli
circleci-cli_*

code-*.tar.gz
VSCode-linux-x64
VSCode-linux-x64*/

cursor

deno
deno-*.zip

driftctl
driftctl-*

FreeCAD

go
go-*/
go*.tar.gz

gomplate
gomplate-*

google-chrome

helm
helm-*.tar
helm-*

kubernetes

node-linux-x64
node-*-linux-x64.tar.xz
node-*-linux-x64

opentofu
opentofu_*

protoc/
protoc-*-linux-x86_64.zip

teleport
teleport-v*

terraform
terraform-*
terraform_*.zip

terragrunt
terragrunt-*

tor-browser

zoom_amd64-*
