VSCode-linux-x64
VSCode-linux-x64*/
code-*.tar.gz

driftctl
driftctl-*

go
go-*/
go*.tar.gz

gomplate
gomplate-*

helm
helm-*.tar
helm-*

kubernetes

node-linux-x64
node-*-linux-x64.tar.xz
node-*-linux-x64

protoc/
protoc-*-linux-x86_64.zip

terragrunt
terragrunt-*
